$sidebarInitWidth: 250px;

* {
  box-sizing: border-box;
  font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.app {
  display: flex;

  .sidebar {
    width: $sidebarInitWidth;
    height: 100vh;
  }

  .chat-area {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background-color: red;
  }
}
