$sidebarInitWidth: 450px;

* {
  box-sizing: border-box;
  font-family: Nunito, Roboto, system-ui, Tahoma, sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

img,
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;

  .sidebar {
    width: $sidebarInitWidth;
    height: 100vh;
    overflow: hidden;
    background-color: white;
  }

  .chat-area {
    height: 100vh;
    flex-grow: 1;
    overflow: hidden;
  }

  .login-wrapper,
  .register-wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #3390ec;

    form {
      box-shadow: 0px 0px 2px 0px black;
      border-radius: 10px;

      width: 500px;
      padding: 50px;
      display: flex;
      flex-direction: column;

      background-color: white;

      .error {
        margin-bottom: 10px;
        padding: 0px 10px;
        color: red;
      }

      input {
        margin-bottom: 20px;
      }

      input:focus {
        box-shadow: 0px 0px 5px 0px #919090a3;
      }

      button {
        cursor: pointer;
      }

      input,
      button {
        padding: 20px;
        border-radius: 10px;
        border: none;
        font-size: 16px;
      }

      input {
        background-color: #d5d2d24f;
      }

      button {
        background-color: #3390ec;
        color: white;
      }

      button:hover {
        box-shadow: 0px 0px 5px 0px #919090a3;
      }
    }

    .redirect {
      align-self: center;
      margin-top: 10px;

      a {
        color: #3390ec;
        text-decoration: none;
      }
    }
  }
}

.scrollable {
  overflow: hidden;
}

.scrollable:hover {
  overflow: overlay;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(103%) contrast(103%);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: #a8bbbf, $alpha: 0.8);
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}
